<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">angular</h5>
                                    <span class="h2 font-weight-bold mb-0">2000  </span>
                                    <span class="text-nowrap">salaire</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 40%</span>
                                <span class="text-nowrap">développeur</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Html/CSS</h5>
                                    <span class="h2 font-weight-bold mb-0">2000  </span>
                                    <span class="text-nowrap">salaire</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-indigo text-white rounded-circle instagram">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 30%</span>
                                <span class="text-nowrap">développeur</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Flutter</h5>
                                    <span class="h2 font-weight-bold mb-0">2500  </span>
                                    <span class="text-nowrap">salaire</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 10%</span>
                                <span class="text-nowrap">développeur</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">

                                    <h5 class="card-title text-uppercase text-muted mb-0">Performances des développeurs </h5>

                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up">90%</i> </span>
                                <span class="text-nowrap">dernier le mois </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

<div class="container-fluid mt--5">

    <div class="row">
        <br>
        <br>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-body">

                    <div class="container">

                        <div class="calendar">

                            <header>


                                <div>
                                    <li class="page-item disabled">
                                        <a class="btn-prev fontawesome-angle-left" href="javascript:void(0)" tabindex="-1">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Précédent</span>
                                        </a>
                                    </li>
                                    <h2>Septembre</h2>


                                    <li class="page-item">
                                        <a class="btn-next fontawesome-angle-right" href="javascript:void(0)">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Prochain</span>
                                        </a>
                                    </li>
                                </div>
                            </header>

                            <table>

                                <thead>

                                    <tr>

                                        <td>Mo</td>
                                        <td>Tu</td>
                                        <td>We</td>
                                        <td>Th</td>
                                        <td>Fr</td>
                                        <td>Sa</td>
                                        <td>Su</td>

                                    </tr>

                                </thead>

                                <tbody>

                                    <tr>
                                        <td class="prev-month">26</td>
                                        <td class="prev-month">27</td>
                                        <td class="prev-month">28</td>
                                        <td class="prev-month">29</td>
                                        <td class="prev-month">30</td>
                                        <td class="prev-month">31</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td class="event">10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td class="event">21</td>
                                        <td>22</td>
                                    </tr>

                                    <tr>
                                        <td class="current-day event">23</td>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td class="next-month">1</td>
                                        <td class="next-month">2</td>
                                        <td class="next-month">3</td>
                                        <td class="next-month">4</td>
                                        <td class="next-month">5</td>
                                        <td class="next-month">6</td>
                                    </tr>

                                </tbody>

                            </table>
                            <br>
                            <br>
                            <div class="schedule">
                                <ul class="tabs">
                                    <li class="tab active"><a href="#">Réunions</a></li>
                                    <li class="tab"><a href="#">Vacances</a></li>
                                    <li class="tab"><a href="#">Notes</a></li>
                                </ul>

                                <div class="tab-pane">
                                    <div class="schedule-list">

                                        <div class="schedule-item">
                                            <div class="time">
                                                <span>9</span>
                                                <span>h</span>
                                            </div>
                                            <div class="description">
                                                <div class="description-header">en travail maintenant</div>
                                                <div class="description-content">
                                                    <p>Feriel Remadi</p>
                                                    <ul class="contact-list">
                                                        <li class="contact">
                                                            <a href="#"><img src="assets/img/theme/fer.jpg" alt="" /></a>
                                                        </li>
                                                        <li class="contact">
                                                            <a href="#"><img src="assets/img/theme/fer.jpg" alt="" /></a>
                                                        </li>
                                                        <li class="contact add-contact">
                                                            <a href="#"><i class="icon-plus"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="schedule-item free">
                                            <div class="time">
                                                <span>10</span>
                                                <span>h</span>
                                            </div>
                                            <div class="description">
                                                <div class="description-header">5 éme etage </div>
                                                <div class="description-content">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- end calendar -->

                    </div>
                    <!-- end container -->

                </div>
            </div>
        </div>
    </div>
</div>