/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

button.btn-anim {
    height: 50px;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid rgb(245, 244, 244);
    color: rgb(252, 250, 250);
    border-radius: 12px;
    -webkit-transition: 0.75s ease-in;
    -o-transition: 0.75s ease-in;
    transition: 0.75s ease-in;
    margin-left: 20%;
}

button.btn-anim {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #7298b3), color-stop(50%), color-stop(75%, #144fbe)) left;
    background: -o-linear-gradient(left, #7298b3 25%, 50%, #144fbe 75%) left;
    background: linear-gradient(to right, #7298b3 25%, 50%, #144fbe 75%) left;
    background-size: 400%;
}

button.btn-anim:hover {
    background-position: right;
}

.col-xl-8 {
    margin-left: 15%;
}

@media (max-width:500px) {
    button.btn-anim {
        font-size: 10px;
        height: 40px;
        width: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 9%;
    }
    .col-xl-8 {
        margin-left: -1%;
    }
}